/* Splash Screen */
.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: 2000;
    color: white;
    text-align: center;
    line-height: 90vh;
}

.splash.display-none {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: -10;
    /* color: white; */
    text-align: center;
    line-height: 90vh;
}

.splash img {
    height: 30%;
    width: auto;
}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

/* Fonts */
@font-face {
    font-family: 'gotham-black';
    src: url('../fonts/Gotham-Font/Gotham-Black.otf');
}
@font-face {
    font-family: 'gotham-medium';
    src: url('../fonts/Gotham-Font/GothamMedium.ttf');
}
@font-face {
    font-family: 'gotham';
    src: url('../fonts/Gotham-Font/GothamBook.ttf');
}

h1, h2, h3, h4, h5 {
    font-family: 'gotham-black';
    font-weight: bold
}

p, ol, ul {
    font-family: 'gotham'
}

.title-primary {
    font-weight: bold;
    font-size: 55pt;
}

.title {
    font-family: 'gotham-black';
    font-size: 55pt;
}
.sub-title {
    font-family: 'gotham-black';
    font-size: 25pt;
}
.text {
    font-family: 'gotham';
    font-size: 15pt;
}
.text-medium {
    font-family: 'gotham-medium';
    font-size: 15pt;
}

/* Colors */
.black {
    color: #000000;
}
.orange {
    color: #EEAE2C;
}
.bg-orange {
    background-color: #EEB22C;
}
.grey {
    color: #333333;
}
.bg-grey {
    background-color: #333333;
}

.green {
    color: #567C49;
}

.bg-green {
    background-color: #567C49;
}

/* Navbar */
header {
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
}

#content {
    margin-bottom: 110px;
}

.navbar {
    background: #0B0B0B;
    color: #999999;
}

.navbar-nav .nav-link {
    color: #999999;
    font-weight: 600;
}

.navbar-nav .nav-link.active {
    color: #ffffff !important;
    font-weight: 700;
}

.navbar-nav .nav-link:hover {
    color: #ffffff !important;
}

.navbar .btn-register {
    border-radius: 0.25rem !important;
    color: #ffffff;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #EEB22C;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

footer {
    background: #0B0B0B;
    color: white;
}

footer a {
    color: inherit;
}

footer a:hover {
    color: #EEB22C;
}

footer i {
    display: inline-block;
    border-radius: 60px;
    border-width: 1500px;
    box-shadow: 0 0 2px #888;
    padding: 0.5em 0.6em;
}

.btn-rounded-new {
    background-color: #EEB22C;
    font-weight: bold;
    border-radius: 25px;
    color: white;
}

.btn-shake:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
}

#other-package .card {
    background: none;
}

#other-package .carousel-item img {
    border-radius: 25px;
}

#other-package .carousel-inner .carousel-item>div {
    position: relative;
    text-align: center;
}

#other-package .tombol-detail {
    position: absolute;
    top: 80%;
    left: 23%;
    color: white;
}

#other-package .btn {
    border-radius: 25px;
}

#other-package .card {
    border: 0;
}

@media (max-width: 767px) {
    #other-package .carousel-inner .carousel-item>div {
        display: none;
    }

    #other-package .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

#other-package .carousel-inner .carousel-item.active,
#other-package .carousel-inner .carousel-item-next,
#other-package .carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

        #other-package .carousel-inner .carousel-item-end.active,
        #other-package .carousel-inner .carousel-item-next {
            transform: translateX(25%);
        }

        #other-package .carousel-inner .carousel-item-start.active,
        #other-package .carousel-inner .carousel-item-prev {
            transform: translateX(-25%);
        }
    }

    #other-package .carousel-inner .carousel-item-end,
    #other-package .carousel-inner .carousel-item-start {
        transform: translateX(0);
    }

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

@media (max-width: 430px) {
    .navbar-brand img {
        height: 30px !important;
    }

    #content {
        margin-bottom: 57px;
    }

    .title-primary {
        font-family: 'gotham-black';
        font-size: 55pt !important;
    }

    .title {
        font-size: 25pt;
    }
}
